.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.header__menu {
  width: 50%;
  @include tablets {
  display: none;
  }
}
  
.header__buttons {
  @include phones {
  display: none;
  }
}

.logo {
  font-weight: 800;
  color: $text-color;
  text-decoration: none;
  font-size: 36px;
}