.nav__list {
    display: flex;
    align-items: center;
}
  
.nav__item {
    margin-right: 30px;
  
    &:last-child {
      margin-right: 0;
    }
}

.nav__link {
    text-decoration: none;
    @include sans(medium);
    color: dark;
    font-size: 16px;
}