.socials {
	display: flex;
	align-items: center;
}
  
.socials__item {
	margin-right: 40px;
  
	&:last-child {
	  margin-right: 0;
	}
}
  
.socials__icon {
	width: 28px;
	height: 31px;
	display: block;
}

.socials__link {
	display: inline-block;
	max-width: 20px;
	max-height: 20px;
	opacity: .8;
	transition: .3s;

	&:hover {
		opacity: 1;
	}
}