.triangles {
    display: flex;
    margin-top: -100px;
    color: #ffffff;
  }

  .bottom__triangles {
    color: #dbe2f3;
  }
  
  .triangles__item {
    width: 50%;
    display: block;
    height: 100px;
    fill: currentColor;
  }